<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kanban</title>
    <link rel="stylesheet" href="css/main.css">
    <script defer src="js/vue.js"></script>
    <script defer src="js/main.js"></script>
</head>
<body>
    <div id="app">
        <div class="column">
            <h2>Запланированные задачи</h2>
            <form @submit.prevent="addTask">
                <input type="date" v-model="newTask.createdAt" placeholder="Дата создания">
                <input type="text" v-model="newTask.title" placeholder="Заголовок задачи">
                <textarea v-model="newTask.description" placeholder="Описание задачи"></textarea>
                <input type="date" v-model="newTask.deadline" placeholder="Дэдлайн">
                <button type="submit">Добавить задачу</button>
            </form>
        </div>
        <div class="column">
            <h2>Задачи в работе</h2>
        </div>
        <div class="column">
            <h2>Тестирование</h2>
        </div>
        <div class="column">
            <h2>Выполненные задачи</h2>
        </div>
    </div>
</body>
</html>